* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    width: 60px;
    height: 60px;
}

.top-list {
    display: flex;
    justify-content: space-between;

}


.stato-libro {
    text-align: center;
    width: 84px;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.card {
    
}